@keyframes blink {
  50% {
    opacity: 0;
  }
}



html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

body{
  margin:0;
  padding:0;
  height: 3000px;
  width: 100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: black;
}

ul,li{
  list-style: none;
  margin:0;
  padding:0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color:red;
  border: 0;
}

.Background-image {
  background-image: url(background.jpg);
  height: 100vh;
  width: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}

.top-menu{
  display: flex;
  position: absolute;
  background-color:black;
  height: 100px;
  width: 270px;
  text-align: center;
  margin-top: -10px;
  padding:20px;
  border-radius:5px 1px 15px 15px;
  right: 10px;
  border:solid 8px white;
}

.top-name{
  margin-top:-15px;
  font-weight:bold;
  color:white;
}

.menu{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  letter-spacing:0.06rem;
}
.side-menu{
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  background-color: rgba(0,0,0,0.8);
  display:flex;  
  flex-direction: column;
  position: fixed;
  margin-top: 60px;

}
.side-logo{
  color:white;
}
.fa-solid{
  margin-top: 15px;
}

.section{
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 5px;
  text-decoration: double underline;
  text-decoration-thickness: 4px;
  color:white
}
.section-s{
  margin-left: 160px;
}

.menu-box{
  text-align: center;
  z-index: 1;
  display: flex;
  font-size:3rem;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom:70px;
  padding-top:100px;
}
.top-name{
  margin-top:-15px;
  font-size: 25.2px;
  font-weight: 900;
}
.close{
  position: absolute;
  top:20px;
  right: 30px;
  cursor: pointer;
}
.close:hover{
  transform: scale(1.05);
  transition: transform 0.4s;
}


.popup1{
  transition: transform 0.4s;
  transform:scale(1.1);
  border-radius: 30px;
  position:absolute;
  padding:30px;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  background-color: #D5D8DC;
  width: 1000px;
  height: 500px;
  z-index: 1;
}
.tn-git{
  margin-left:30px;
}

.tn-bel{
}

.tn-kakao{
  margin-left: 30px;
}


.tn-popup{
  position: absolute;
  color:white;
  top:35%;
  left:180px;
}
.com{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.menu-box>.side-menu:hover{
  transition: transform 0.4s;
  transform:scale(1.1);
}

.name-box:hover{
  transition: transform 0.4s;
  transform:scale(1.1);
}

.name-box{
  display:flex;
  flex-direction: row-reverse;
}

.name-box>.menu:hover{
  color:white
}

h1{
  display:block;
  text-align: center;
}

.title{
  width: 50%;
  height: 100%;
  display:block;
}

.title-text-0{
  height: 100%;
  position: absolute;
  top:1%;
  right: 57.5%;
  font-size: 7vmin;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.title-text-1{
  position: absolute;
  top:1%;
  right: 30%;
  font-size: 7vmin;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.title-text-2{
  position: absolute;
  top:11%;
  right: 13%;
  font-size: 7vmin;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.title-text-3{
  position: absolute;
  top:11%;
  right: 10.5%;
  font-size: 7vmin;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
  animation: blink 1s infinite;
}
/* @@@@ 밑줄 */
.underline{
  margin-top: -120px;
  border: 0.5vmin solid white;
  border-radius:10px ;
}

/* Profile */
.Profile{
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  height: 100vh;
  width: 1860px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 15%),
  0px 3px 4px 0px rgb(0 0 0 / 12%),
  0px 1px 8px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.Prologo{
  margin-left: 100px;
  padding-top: 400px;
  color:black;
}
.Prologo::after{
  content: "";
  position: relative;
  font-weight: bold;
  font-size: 4rem;
  top:-10px;
  left:50px;
  color:black;
}
/* Profile */

/* Skills */
.Skills{
  background-color: white;
  margin-left: 150px;
  height: 70vh;
  width: 80%;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 15%),
  0px 3px 4px 0px rgb(0 0 0 / 12%),
  0px 1px 8px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.skills-ico{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:3px;
  position: relative;
  top:10px;
  left: 10px;
  border-radius: 5px;
  padding: 8px;
}

.skills-ico:nth-child(4){
  position: relative;
  top:-140px;
  left: 140px;
  margin-left:10px;
}
.skills-ico:nth-child(5){
  position: relative;
  top:-290px;
  left: 280px;
}
.skills-ico:nth-child(6){
  position: relative;
  top:-695px;
  left: 785px;
}
.skills-ico:nth-child(7){
  position: relative;
  top:-695px;
  left: 785px;
}

/* Skills 아이콘 마우스오버효과 */
.Skills>.skills-img {
  width:125px;
  height: 125px;
  border-radius: 5px;
}

.skills-img>.skills-ico {
  position:relative;
  overflow:hidden;
  margin-bottom:10px;
}

.skills-img>.skills-ico::after {
  border-radius: 5px;
  content:"";
  background-color:rgba(0,0,0,0);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:background-color 0.5s;
}


.skills-img>.skills-ico:before {
  font-weight:bold;
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translateX(-50%) translateY(-50%);
  padding:10px;
  border-radius:10px;
  z-index:1;
  opacity:0;
  transition:opacity 0.5s;
}
.skills-img>.skills-ico:nth-child(1)::before{ 
  content:"HTML";
}
.skills-img>.skills-ico:nth-child(2)::before{ 
  content:"CSS";
}
.skills-img>.skills-ico:nth-child(3)::before{ 
  content:"JavaScript";
}
.skills-img>.skills-ico:nth-child(4)::before{ 
  content:"React";
}
.skills-img>.skills-ico:nth-child(5)::before{ 
  content:"TypeScript";
}
.skills-img>.skills-ico:nth-child(6)::before{ 
  content:"Python";
}
.skills-img>.skills-ico:nth-child(7)::before{ 
  content:"Java";
}
.skills-img > .skills-ico:hover::after {
  background-color:rgba(0,0,0,.5);
}

.skills-img > .skills-ico:hover::before {
  opacity:1;
}

.skills-img > .skills-ico > img {
  transition:transform 0.5s;
}
.skills-img > .skills-ico:hover > img {
  transform:scale(1.2);
}
/* Skills 아이콘 마우스오버효과 끝 */

.Tring{
  position: relative;
  left: 3.2%;
  text-align: center;
  font-size:3rem;
  font-weight: bold;
}
/* skills항목 중앙선 */
.center-line{
  width: 10px;
  height: 110%;
  background-color: black;
  margin-top:-270px;
  margin-left: 50%;
  position: relative;
}


/* Skills */

/* Project */
.Pj{
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  height: 100vh;
  width: 1860px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 15%),
  0px 3px 4px 0px rgb(0 0 0 / 12%),
  0px 1px 8px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.Plogo::after{
  content: "";
  position: relative;
  font-weight: bold;
  font-size: 4rem;
  top:-10px;
  left:110px;
  color:black;
}
.Plogo{
  margin-left: 100px;
  padding-top: 400px;
  color:black;
}
/* Project */

/* contact */
.contact{
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
  height: 250px;
  width: 100%;
  background-image:url(https://i.ibb.co/pf9v82B/contact-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.con-text{
  display:inline;
  position: relative;
  font-size: 3.5rem;
  top:35%;
  left: 10%;
}
.con-phone{
  display:inline;
  position: relative;
  font-size: 2rem;
  left:40%;
  top:10%;
  font-weight: bold;
}
/* contact */