/*----------------------------------------------*/
.blinking-1{
  -webkit-animation: blink 0.3s ease-in-out infinite alternate;
  -moz-animation: blink 0.3s ease-in-out infinite alternate;
  animation: blink 0.3s ease-in-out infinite alternate;
}

.blinking{
  -webkit-animation: blink 2s ease-in-out infinite alternate;
  -moz-animation: blink 2s ease-in-out infinite alternate;
  animation: blink 2s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blink{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

html {
  scroll-behavior: smooth;
}

a{
  color:white;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

body{
  margin:0;
  padding:0;
  height: 3000px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: black;
}

ul,li{
  list-style: none;
  margin:0;
  padding:0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color:white;
  border: 0;
}

.Background-image {
  background-image: url(background.jpg);
  height: 100vh;
  background-attachment: fixed; /*배경이미지 고정처리*/
  background-repeat: no-repeat;
  background-size: cover;
}

.top-menu{
  display: flex;
  position: absolute;
  background-color:black;
  height: 100px;
  width: 270px;
  text-align: center;
  margin-top: -10px;
  padding:20px;
  border-radius:5px 1px 15px 15px;
  right: 10px;
  border:solid 8px white;
}

.top-name{
  margin-top:-15 px;
  font-weight:bold;
  color:white;
}

.menu{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  letter-spacing:0.06rem;
}
.side-menu{
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  background-color: rgba(0,0,0,0.8);
  display:flex;  
  flex-direction: column;
  position: fixed;
  margin-top: 60px;

}
.fa-solid{
  margin-top: 15px;
}

.section{
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 5px;
  text-decoration: double underline;
  text-decoration-thickness: 4px;
  color:white
}

.menu-box{
  text-align: center;
  z-index: 1;
  display: flex;
  font-size:3rem;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom:70px;
  padding-top:100px;
}
.top-name{
  margin-top:-15px;
  font-size: 25.2px;
  font-weight: 900;
}
.popup1{
  position:fixed;
  background-color:#dfdfdf;
  padding:30px;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  border:10px solid red;
  box-shadow:10px 10px 10px rgba(45,45,45,0.5);
  background-color: black;
  width: 1000px;
  height: 500px;
  z-index: 1;
}

.menu-box>.side-menu:hover{
  transition: transform 0.4s;
  transform:scale(1.1);
}

.name-box:hover{
  transition: transform 0.4s;
  transform:scale(1.1);
}

.name-box{
  display:flex;
  flex-direction: row-reverse;
}

.name-box>.menu:hover{
  color:white
}

h1{
  display:block;
  text-align: center;
}

.title{
  width:100%;
  height: 500px;
  display:flex;
  flex-wrap: wrap;
}

.title-text-0{
  position: absolute;
  top:1%;
  right: 57%;
  font-size: 4rem;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.title-text-1{
  position: absolute;
  top:1%;
  right: 30%;
  font-size: 4rem;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.title-text-2{
  position: absolute;
  top:11%;
  right: 13%;
  font-size: 4rem;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.title-text-3{
  position: absolute;
  top:11%;
  right: 10.5%;
  font-size: 4rem;
  line-height: 5;
  letter-spacing:0.1rem;
  color: white;
}

.underline{
  margin-top: -120px;
  border: 5px solid white;
  border-radius:10px ;
}


.Profile{
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  height: 100vh;
  width: 1860px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 15%),
  0px 3px 4px 0px rgb(0 0 0 / 12%),
  0px 1px 8px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.Prologo{
  margin-left: 100px;
  padding-top: 400px;
  color:black;
}
.Prologo::after{
  content: "";
  position: relative;
  font-weight: bold;
  font-size: 4rem;
  top:-10px;
  left:50px;
  color:black;
}

.Skills{
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  height: 100vh;
  width: 1860px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 15%),
  0px 3px 4px 0px rgb(0 0 0 / 12%),
  0px 1px 8px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.Slogo::after{
  content: "";
  position: relative;
  font-weight: bold;
  font-size: 4rem;
  top:-10px;
  left:200px;
  color:black;
}
.Slogo{
  margin-left: 100px;
  padding-top: 400px;
  color:black;
}

.Pj{
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  height: 100vh;
  width: 1860px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 15%),
  0px 3px 4px 0px rgb(0 0 0 / 12%),
  0px 1px 8px 0px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.Plogo::after{
  content: "";
  position: relative;
  font-weight: bold;
  font-size: 4rem;
  top:-10px;
  left:110px;
  color:black;
}
.Plogo{
  margin-left: 100px;
  padding-top: 400px;
  color:black;
}
