.btn{
    cursor:pointer;
    margin-top: 1.5rem;
    padding:0.75rem 1.5rem;
    font-size:0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color:white;
    background-color: black;
    border:none;
    border-radius: 1rem;
}
.btn:hover{
    background-color: #ffb969;
    color:black;
}
.btn:focus{
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media(hover:hover) and (min-width:600px){
    .card::after{
        transform: translateY(0);
    }
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
.content>*:not(:first-child){
    margin-top:1rem;
}
.tittle{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}
.copy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.125rem;
    font-style: italic;
    line-height: 1.35;
}